@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #F0F2F5;
    font-family: "fontRegular"
    /* height: 100vh; */
}

@font-face {
    font-family: "fontBlack";
    src: url('../../Fonts/SF-Pro-Display-Black.ttf');
}

@font-face {
    font-family: "BlackItalic";
    src: url('../../Fonts/SF-Pro-Display-BlackItalic.ttf');

}

@font-face {
    font-family: "fontBold";
    src: url('../../Fonts/SF-Pro-Display-Bold.ttf');

}

@font-face {
    font-family: "fontHeavy";
    src: url('../../Fonts/SF-Pro-Display-Heavy.ttf');

}

@font-face {
    font-family: "fontLight";
    src: url('../../Fonts/SF-Pro-Display-Light.ttf');

}

@font-face {
    font-family: "fontMedium";
    src: url('../../Fonts/SF-Pro-Display-Medium.ttf');

}

@font-face {
    font-family: "fontRegular";
    src: url('../../Fonts/SF-Pro-Display-Regular.ttf');

}

@font-face {
    font-family: "fontSemiBold";
    src: url('../../Fonts/SF-Pro-Display-Semibold.ttf');

}

@font-face {
    font-family: "fontTextheavy";
    src: url('../../Fonts/sf-pro-text-heavy.ttf');

}

@font-face {
    font-family: "fontThin";
    src: url('../../Fonts/SF-Pro-Display-Thin.ttf');

}